<br>
<div class="container">
    <div class="card bg-dark text-white">
        <img src="/images/1c.jpg.png" class="card-img" alt="500px">
        <div class="card-img-overlay">
            <h2 class="card-title">Cavalli</h5>
            <h4 class="card-text">Scegli fra i nostri fantastici cavalli.</p>
            <br>
            <a href="/horses"><button type="button" class="btn btn-primary">Cavalli</button></a>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="card bg-dark text-white">
        <img src="/images/2c.png" class="card-img" alt="500px">
        <div class="card-img-overlay">
            <h2 class="card-title">Newsletter</h5>
            <h4 class="card-text">Iscriviti alla newsletter</p>
            <br>
            <a href="/users/new"><button type="button" class="btn btn-primary">Iscriviti</button></a>
            <br>
        </div>
    </div>
</div>

<br>